@import url('https://fonts.googleapis.com/css2?family=Caveat+Brush&family=Caveat:wght@400;500;600;700&display=swap');

html {
    overflow-x: hidden;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Caveat';
    font-weight: 500;
    background-color: #FFFDED;
    color: #2e2e2e;
}

.absolute {
    position: absolute;
}

.sun {
    transform: translate(-20%, -41%);
}

.flower.f1 {
    top: 16vh;
    transform: translateX(-50%);
}

.flower.f2 {
    right: 0;
    transform: translate(40%, 15%);
}

.flower.f3 {
    top: 50vh;
    right: 0;
    transform: translate(45%, -50%) rotate(30deg);
}

.birds {
    right: 20vw;
    top: 15vh;
    rotate: -10deg;
}

.section {
    height: 100vh;
}


.section:not(:nth-child(1)) {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 3.5rem;
    align-content: space-around;
    justify-content: space-between;
    text-align: center;
    padding: 1rem;
    height: fit-content;
}

div.section:nth-child(2) {
    height: 100vh;
}

.hero header {
    height: 50vh;
    display: grid;
    /* position: relative; */
    /* z-index: 10; */
    align-content: end;
    justify-content: center;
    font-family: 'Caveat Brush', cursive;
    font-size: 56px;
}

.arrow::after {
    content: '↓';
    display: block;
    text-align: center;
    font-family: 'Caveat Brush', cursive;
}

.graphics {
    height: 50vh;
    position: relative;
    width: 100%;
}

.trees {
    position: absolute;
    bottom: 0px;
    z-index: 1;
    width: 100%;
}

.bench {
    position: absolute;
    bottom: 0px;
    width: 100%;
    z-index: 5;
}


.character {
    height: 250px;
    object-fit: contain;
    cursor: pointer;
}

.message {
    height: fit-content;
    transition: height 1s, opacity 5s;
    background: wheat;
    padding: 0.5rem 0.2rem;
    border: 4px dotted antiquewhite;
    border-radius: 12px;
}


.collapsed {
    height: 0;
    opacity: 0;
    overflow: hidden;
    transition: height 2s, opacity 2s;

}

.cat {
    width: 50%;
    position: relative;
}

img.cat:nth-child(2) {
    left: 50%;
}

img.cat:nth-child(3) {
    top: -70px;
}



img.cat:nth-child(4) {
    top: -100px;
    left: 100%;
    transform: translate(-100%, 0);
    rotate: 10deg;
    width: 75%;
}










.canvas {
    font-size: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: start;
    gap: 1rem;
    padding: 2rem;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 18px;
    position: relative;
}

.canvas>img:nth-child(1) {
    top: 0;
    left: 0;
    transform: translate(-20%, 0%);
}


.canvas>img:nth-child(2) {
    bottom: 0;
    left: 0;
    transform: translate(-20%, 48%);
}

.canvas>img:nth-child(3) {
    right: 0;
    transform: translate(40%, -20%);
}

.poem {
    font-size: 1.2rem;
    padding: 1rem;
}

.sub-head {
    font-size: 2.2rem;
}

.message {
    font-size: 25px;
}

header {
    font-family: 'Caveat Brush', cursive;
    font-size: 32px;
    padding: 2rem 0;
}

/* Media query for larger screens */
@media (min-width: 768px) {
    body {
        font-size: 18px;
    }
}